.blogPage {

    & > .wrapper {
        @include flexRow;
        align-items: flex-start;
    }

// headings
    h2 {
        font-size: calc(0.7rem + 1.5vw);
    }

    nav h2 {
        font-size: calc(1rem + 1.8vw);
    }

    h3 {
        font-size: calc(0.5rem + 1.1vw);
    }


    aside,
    main {
        margin-top: 100px;
        background: $white;
    }

    aside {
        
        img {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .aboutMe,
    .recentPosts {
        background: white;
        padding: 30px;
    }

    .aboutMe {
        margin-bottom: 20px;
    }

    aside {
        
        p,
        ul {
            margin: 15px 0;
        }

        ul {
            padding-left: 30px;
        }

        li {
            @extend p;
            list-style-type: disc;
            list-style-position: outside;
            padding-left: 20px;
            margin:0;
            // padding-left: 50px;
        }

        a {
            color: $green;
            font-weight: bold;
        }
    }
}

.fullBlogPost {
    padding: 30px;
    border-bottom: 5px solid $green;
    background: white;
    margin-bottom: 40px;
}

.comment {
    @include flexRow(space-between);
    align-items: flex-start;
    background: white;
    margin-bottom: 20px;
    padding: 30px;

    img {
        width: 80px;
        margin-right: 2.5%;
    }

    .commentTextContainer {
        margin-top: 5px;
        width: calc(97.5% - 80px);
    }

    p {
        margin: 0;
    }
}

.comment:last-of-type {
    border-bottom: 5px solid $green;
}