.blogPage {

    & > .wrapper {
        @include flexRow;
        align-items: flex-start;
    }

// headings
    h2 {
        font-size: calc(0.7rem + 1.5vw);
    }

    nav h2 {
        font-size: calc(1rem + 1.8vw);
    }

    h3 {
        font-size: calc(0.5rem + 1.1vw);
    }


    aside,
    main {
        margin-top: 100px;
        background: $white;
    }

    .aboutMe,
    .recentPosts {
        background: white;
        padding: 30px;
    }

    .aboutMe {
        margin-bottom: 20px;
    }

    aside {
        
        p,
        ul {
            margin: 15px 0;
        }

        ul {
            padding-left: 30px;
        }

        li {
            @extend p;
            list-style-type: disc;
            list-style-position: outside;
            padding-left: 20px;
            margin:0;
            // padding-left: 50px;
        }

        a {
            color: $green;
            font-weight: bold;
        }

        .mobileLink {
            display: none;
        }

        img {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

.fullBlogPost {
    padding: 30px;
    border-bottom: 5px solid $green;
    background: white;
    margin-bottom: 40px;
}

.comment {
    @include flexRow(space-between);
    align-items: flex-start;
    background: white;
    margin-bottom: 20px;
    padding: 30px;

    img {
        width: 80px;
        margin-right: 2.5%;
    }

    .commentTextContainer {
        margin-top: 5px;
        width: calc(97.5% - 80px);
    }

    p {
        margin: 0;
    }

    &Two {
        border-bottom: 5px solid $green;
    }

}

.blogPage {
    @include mq1000 {
        aside
        { 
            ul {
            padding-left: 10px;
            text-align: left;
            }

            li {
                padding-left: 5px;
            }
        }
    }

    @include mq800 {

        h2 {
            font-size: calc(1.2rem + 1.8vw);
        }

        h3 {
            font-size: calc(0.5rem + 1.5vw);
        }

        aside {
            text-align: center;
        }

        .wrapper {
            width:95%;
        }

        .aboutMe,
        .recentPosts,
        .fullBlogPost,
        .comment {
            padding: 15px;
        }
    }
    
    @include mq680 {

        h3 {
            font-size:calc(1rem + 1.5vw);
        }


        .wrapper {
            width:98%;
            flex-direction: column;
        }

        header {
            height: 30vh;
        }

        main {
            order: 0;
            width:100%;
            margin: 0;
            padding-top: 20px;
        }
        aside {
            @include flexRow(space-between);
            align-items: stretch;
            width: 100%;
            margin: 0;
            padding: 20px 20px 0;

            img {
                float:left;
                width: 50%;
            }

            .aboutMe {
                width: 65%;
                margin-bottom: 0;
            }

            .recentPosts {
                width: 30%;
            }

        }
    }

    @include mq600 {

        aside {
            position: relative;
            @include flexCol;

            p {
                font-size: 1.55rem;
            }

            img {
                width:150px;
                margin-right: 20px;
            }

            
            .aboutMe {
                text-align: left;
                padding-bottom: 0;
                width: 100%;
            }

            .recentPosts {
                margin-top: 20px;
                width: 100%;
                ul {
                    @include flexRow(space-between);
                    flex-wrap: wrap;
                    padding-left:0;
                }
                li {
                    position: relative;
                    text-align: center;
                    padding-left:0;
                    list-style-type: none;
                    width: 50%;
                }

                li:nth-of-type(odd):after {
                    content: "🍃"; 
                    position: absolute;
                    right: 0;
                }
            }
        } 
    }

    @include mq500 {
        aside .recentPosts {
            
            padding: 10px;
            width: 60vw;
            align-self: flex-start;
            box-shadow: 2vw 2vw $green, 30vw 2vw $green;

            h3 {
                text-align: left;
                margin-left: 20px;
            }
            ul {
            display: block;
            }
            li {
                text-align: left;
                margin-left: 20px;
                width:100%;
            }

            li:nth-of-type(odd):after {
                content: none;
            }

            li:before {
                content: "🌿";
                position: absolute;
                left: -18px;
            }
        }
    }
}


