.contactPage {
    background: $white;

    & > .wrapper {
        @include flexRow(space-between);
        align-items: flex-start;
    }

    main,
    aside {
        margin-top: 100px;
    }

    aside {
        background: white;
        padding: 30px;
    }
}

.asideSocialMedia {
    @include flexRow(flex-start);

    a {
        padding: 0 10px;
    }

}

.address {
    @extend p;
    font-size: calc(0.4rem + 0.9vw);
}

.socialIcons {
    color: $pine;
    font-size: 2rem;
}

.contactPage {
    @include mq1000 {
        
        aside {
            width: 35%;
        }

        main {
            width: 60%;
        }
    }

    @include mq800 {
        aside {
            text-align: center;
        }
        .asideSocialMedia {
            justify-content: center;
            
        }
        aside a {
            width: calc(50% - 21px);
            padding: 10px;
        }
    }

    @include mq680 {

        main {
            margin: 0;
            width: 100%;
        }
        aside {
            margin: 10px 0;
            width: 100%;

            a {
                width: 25%;
            }
        }


        .address {
            font-size: 1.5rem;
        }

        p.email {
            margin: 5px;
            font-size: 2rem;
        }
        
        .wrapper {
            width:98%;
            flex-direction: column;
        }

        header {
            height: 30vh;
        }
    }
}