.contactPage {
    background: $white;

    & > .wrapper {
        @include flexRow(space-between);
        align-items: flex-start;
    }

    main,
    aside {
        margin-top: 100px;
    }

    aside {
        background: white;
        padding: 30px;
    }
}

.asideSocialMedia {
    @include flexRow(flex-start);

    a {
        padding: 0 10px;
    }

}

.address {
    @extend p;
    font-size: calc(0.4rem + 0.9vw);
}

.socialIcons {
    color: $pine;
    font-size: 2rem;
}