//importing google fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:400,700&display=swap');

// setting that default
html {
    font-size: 62.5%;
    letter-spacing: 1px; //the entire website has this aside from p tags
}

body {
    background: $white;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding:0;
    font-family: $headingStack;
    text-transform: uppercase;
}

h1 {
    color: $white;
    font-size: 11rem;
    position: relative;
}

h2 {
    font-size: calc(1rem + 1.8vw);
}

//the h1's on other pages (Colin approved 1 h1 per page)
.title {
    position: relative;
    top:1rem;
    align-self: flex-start;
    text-align: left;
    color: $white;
    font-size: 5rem;
}

h3 {
    font-size: calc(0.5rem + 1.5vw);
}

h4 {
    font-size: calc(0.5rem + 1.5vw);
}

ul,
li {
    padding:0;
    margin:0;
    list-style: none;
}

img {
    display:block;
    margin:0;
    padding:0;
}

a {
    display:inline-block;
    text-decoration: none;
    color:inherit;
}

p {
    font-family: $bodyStack;
    letter-spacing: normal;
    font-size: calc(0.4rem + 1vw);
    line-height: 1.5;
}

.primaryLink {
    padding: 10px 20px;
    background: $accent;
    border: none;
    font-family: $headingStack;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.primaryLink:hover,
.primaryLink:focus {
    color: $white;
    background: $green;
}

.wrapper {
    max-width: 1200px;
    width: 80vw;
    margin: 0 auto;
}   

.blogPage {
    background: $white;
}

//focus on blog and contact page
main {
    width: 65%;
    margin-left: 5%;
    background: $white;
}

//likewise
aside {
    width: 30%;
}


// font focused media queries
@include mq1000 {

    .home {
        h1 {
            font-size: 8rem;
        }
    }
    p {
        font-size: calc(0.5rem + 1vw);
    }
}

@include mq800 {
    h2 {
        font-size: calc(2rem + 1.8vw);
    }

    h3 {
        font-size: calc(1rem + 1.5vw);
    }

    p {
        font-size: calc(0.9rem + 1vw);
    }
}

@include mq680 {

    .home {
        h1 {
            font-size: 6.5rem;
        }
    }

    p {
        font-size: calc(1.2rem + 1vw);
    }
}