//accesibility is important
.visuallyHidden:focus {
    position: absolute;
    top:20px;
    left: 20px;
    width: auto;
    height: 2.7rem;
    padding: 2px;
    background-color: paleturquoise;
    outline: 2px solid $black;
    font-size: 2rem;
    color:black;
    z-index: 5;
}

nav {
    font-family: $bodyStack;
    color: $white;
    font-size: calc(0.2rem + 1vw);
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;

    ul {
        @include flexRow;
    }

    a {
        padding: 20px 1.5vw;
    }
    
    .currentPage {
        color: $accent;
    }
}

//main page header styles
.header {
    background: $pine;

    &FlexParent {
        @include flexRow;
    }

    .profilePhoto {
        width: 30vw;
        min-width: 20rem;
        position: relative;
        right:-2vw;
        top:5vw;
        box-shadow: 1.2vw 1.5vw 0 white;
    }

    .titlePhoto {
        position: absolute;
        top:-3rem;
        left:-4rem;
        width:10rem;
    }
}

//AMMBURGERRR
.hamburgerBox,
.hamburgerContainer {
    display:none;
}

.blogPage header {
    background: url(../assets/blog-image-1.jpg);
}

.contactPage header {
    background: url(../assets/contact-image-1.jpg);
}

// secondary page header styles
.blogPage,
.contactPage {

    header {
        @include flexCol(space-between);
        overflow-y: hidden;
        background-position: 25%;
        background-size: cover;
        height: 375px;
        width:100vw;
        }

    nav {
        background: $pine;
    }
}

// footer styles
.home footer {
    margin-top: 0;
}

footer {
    margin-top: 100px;
    background: $black;

    p {
        @include flexRow;
        margin:0;
        line-height: 2;
        color: $white;
    }

    @include mq800 {
        margin-top: 20px;
    }
}

// MEDIA QUERIES
@include mq1000 {

    .headerNav,
    nav {
        font-size: calc(0.7rem + 1vw);
    }
    
    h2 {
        font-size: calc(1.5rem + 1.8vw);
    }

    .home { 

        .titlePhoto {
            width: 7rem;
            left: -3rem;
            top: -2rem;
        }
    }
}

@include mq800 {
    nav a,
    .header nav a {
        padding: 20px 2vw;
    }
    .headerFlexParent {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header .profilePhoto {
        right:0;
        top:0;
    }
}

@include mq680 {

    nav ul,
    .headerNav ul {
        position: fixed;
        top: 0;
        left:200vw;
        width: 100vw;
        height: 100vh;
        background: $pine;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 2rem;
        transition: left 0.3s;
        z-index: 1;
    }

    .navWillow {
        margin: 40px 0 20px;
        order: -1;
        font-size: 5rem;
    }

    header,
    .blogHeader,
    .contactHeader {
        padding-top: 50px;
    }

    .hamburgerBox,
    .hamburgerContainer {
        display: block;
        position: fixed;
        top: 1.5rem;
        right: 2rem;
        z-index: 2;
    }

    .hamburgerBox {
        display: none;
    }

    //three hamburger bars to animate the x transition
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        margin: 4px;
        border: 2px solid white;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 1px $pine;
        transition: all 0.3s;
    }

    input:checked ~ label .bar {
        box-shadow: none;
    }

    input:checked ~ label .bar1 {
        transform: translateY(4px) rotate(45deg);
    }

    input:checked ~ label .bar2 {
        border: 0;
    }

    input:checked ~ label .bar3 {
        transform: translateY(-4px) rotate(-45deg);
    }

    input:checked ~ ul {
        visibility: visible;
        left:0;
    }
} //end media query