.homeMain {
    width: 100vw;
    margin:0;
}

.about {
    padding: 120px 0;
    @include flexCol;
    text-align: center;
    background: $white;

    @include mq800 {
        padding: 60px 0;
    }
}

// blog
.blog {
    &Post {
        @include flexRow;
        flex-wrap: wrap;
        width:100%;
        margin: 0 auto;
        background: white;
        padding-bottom:50px;

        @include mq800 {
            padding: 0;
        }
    }

    &Post2 {
        padding-bottom:10px;
    }

    &Post1Img,
    &Post2Img {
        position: relative;
        width: 50%;
    }

    &Post img {
        position: relative;
        top: -3.5vw;
        width: 100%;
    }

    // I did the backgroudn green flair with box-shadow instead of fighting with divs and wrapper margins
    &Post1 img {
        box-shadow: 1.2vw 1.5vw $green, -10vw 1.5vw $green;
    }

    &Post2 img {
        top: 3.5vw;
        box-shadow: 1.2vw 1.5vw $pine, 10vw 1.5vw $pine;
    }

    &PostTextContainer {
        @include flexCol(flex-end);
        align-items: flex-start;
        width: 50%;
        padding-left: 7vw;
        align-self: stretch;
        position: relative;
        top:-2vw;
    }

    &Post2Img {
        order:2; // to make image appear on right side in desktop view
    }

    &Post2TextContainer {
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
        padding-left: 0;
        padding-right: 7vw;
        top: 3.5vw;
    }

    &Post3 {
        @extend .padding;
        background: $white;
        justify-content: space-between;

        .wrapper {
            @include flexRow;
            align-items: flex-start;
        }

        .imgContainer {
            width: 25%;
            padding-bottom: 1.5vw;
            margin-right: 5%
        }

        img {
            width:100%;
            box-shadow: 1.2vw 1.5vw $green;
        }

        &TextContainer {
            @include flexCol(space-between);
            align-items: flex-start;
            width: 65%;
            margin-left: 5%;
            align-self: stretch;
        }

        @include mq800 {
            padding: 60px 0;
        }
    } //end post3


    // media query
    @include mq800 {
            background: $white;

            &Post {
                background: $white;

                &1 {
                    box-shadow: 20px 20px $green, -20vw 20px $green;
                    margin-bottom: 10vw;
                }

                &2 {
                    box-shadow: -20px 20px $pine, 20vw 20px $pine;
                    padding-bottom: 0;
                    margin-bottom: 20vw;
                }
            }

            // STACK IT
            &Post1Img,
            &Post2Img,
            &PostTextContainer {
                width:100%;
                top:0;
            }

            &Post1Img {
                background: $green;
            }

            &Post2Img {
                order: initial;
                background: $pine;
            }

            &Post img {
                top: 0;
                box-shadow: none;
            }

            &PostTextContainer {
                align-items: center;
                text-align: center;
                background:white;
                padding: 20px;
            }

            // post three (WILLOW'S JOURNEY)
            &Post3 {
                margin-bottom: 40px;

                .wrapper {
                    display: block;
                    position: relative;
                }

                .imgContainer {
                    position: absolute;
                    float:left;
                    width: 30%;
                    margin:0;
                    top: calc(-20vw + 15px);
                    left: -2vw;
                }

                &TextContainer {
                    width: 100%;
                    margin:0;
                    background: white;
                    padding: 20px;

                h2 {
                    margin-left: calc(35% - 2vw);
                }

                .primaryLink {
                    align-self: center;
                }
            }
        } // end of post3
    } //end of mq800 media query

    // nested in .blog still
    @include mq680 {

        &Post2 {
            margin-bottom: 20px;
        }

        &Post3 {
            margin-bottom: 0;
            padding: 20px 0;
            text-align: center;

            h2 {
                margin: 0 auto;
            }

            .imgContainer {
            float:none;
            position: relative;
            width: 50%;
            top:0;
            left: -0.4vw; //nudged to make it look centered with the shadow
            margin: 0 auto;
            }

            &TextContainer {
                box-shadow: 0px -100px white;
            }
        }
    } // end of mq680
} // end of blog


// full bleed image
.styleDivider {
    background: url(../assets/home-image-5.jpg),$white;
    background-size: cover;
    background-position-x: 60%;
    width: 100vw;
    height: 50vh;
}

.styleDividerMobile {
    @extend .styleDivider;
}


// gallery styles
.gallery {

    @extend .padding;
    background: white;

    .wrapper {
        @include flexRow;
        justify-content: space-between;
    }

    img {
        width: 31%
    }

    @include mq1000 {
        padding: 60px 0;
    }

    @include mq800 {

        padding: 20px 0;

        .wrapper {
            width: 100%;
        }
    }

    @include mq680 {

        padding:0;
    
        img {
            width: 33.33%;
        }
    }
}

.contact {

    @extend .padding;
    padding-bottom: 0;
    background: $white;

    h4 {
        margin-top: 5px;
    }

    a:hover,
    a:focus {
        color: $accent;
    }

    ul {
        @include flexRow(space-between);
        flex-wrap: wrap;
    }

    li {
        width:48%;
        margin-bottom: 50px;
    }

    .contactIcon {
        display:block;
        background: $accent;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 50px;
        float:left;
        margin-right: 4%;
    }

    p {
        margin-left: calc(4rem + 4%);
    }

    @include mq800 {
        padding: 60px 0 0 0;
    }

    @include mq680 {
        padding: 7vw 0 0 0;

        h4 {
            font-size: calc(1rem + 1.5vw);
        }

        ul {
            display: block;
        }

        li {
            width:100%;
        }
    }
} // end of .contact

@include mq500 {
    .about,
    .blog,
    .contact {
        .wrapper {
            width:95%;
        }
    }

    .styleDivider {
        height: 30vh;
    }

    .styleDivider {
        display: none;

        &Mobile {
            display: block;
        }
    }   
}