// variables

$accent: #E4A436;
$green: #709B6B;
$pine: #345231;
$black: #1F1F1F;
$white: #F6F6F6;

$headingStack: "Abril Fatface", cursive;
$bodyStack: "Montserrat", sans-serif;




//mixins

@mixin flexRow($justify: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;
}

@mixin flexCol($align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
    align-items: center;
}

// nest this media querie inside selecters
@mixin mq1000 {
    @media (max-width:1000px) {
        @content;
    }
}

@mixin mq800 {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin mq680 {
    @media (max-width: 680px) {
        @content;
    }
}

@mixin mq600 {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin mq500 {
    @media (max-width: 500px) {
        @content;
    }
}

.padding {
    padding: 100px 0;
}




// special character apostrphy in willow's journey

//take the height off the header, give the big img a width so that the header is essentially deriving it's height from the image height, this way the header will scale down with the image. set min width on the image so that you don't have to make a media query break for that